wcf-assignment/A1ConsoleApp1/Connected Services/ServiceReference7/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51443/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51443/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_PrimeNum_InputMessage">
    <wsdl:part name="parameters" element="tns:PrimeNum" />
  </wsdl:message>
  <wsdl:message name="IService1_PrimeNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrimeNumResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SumDigits_InputMessage">
    <wsdl:part name="parameters" element="tns:SumDigits" />
  </wsdl:message>
  <wsdl:message name="IService1_SumDigits_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReverseString_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseString" />
  </wsdl:message>
  <wsdl:message name="IService1_ReverseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PrintHTMLTag_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintHTMLTag" />
  </wsdl:message>
  <wsdl:message name="IService1_PrintHTMLTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintHTMLTagResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Sort5Num_InputMessage">
    <wsdl:part name="parameters" element="tns:Sort5Num" />
  </wsdl:message>
  <wsdl:message name="IService1_Sort5Num_OutputMessage">
    <wsdl:part name="parameters" element="tns:Sort5NumResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="PrimeNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrimeNum" message="tns:IService1_PrimeNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrimeNumResponse" message="tns:IService1_PrimeNum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumDigits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SumDigits" message="tns:IService1_SumDigits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SumDigitsResponse" message="tns:IService1_SumDigits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReverseString" message="tns:IService1_ReverseString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReverseStringResponse" message="tns:IService1_ReverseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintHTMLTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PrintHTMLTag" message="tns:IService1_PrintHTMLTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PrintHTMLTagResponse" message="tns:IService1_PrintHTMLTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sort5Num">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Sort5Num" message="tns:IService1_Sort5Num_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Sort5NumResponse" message="tns:IService1_Sort5Num_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PrimeNum">
      <soap:operation soapAction="http://tempuri.org/IService1/PrimeNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumDigits">
      <soap:operation soapAction="http://tempuri.org/IService1/SumDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap:operation soapAction="http://tempuri.org/IService1/ReverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintHTMLTag">
      <soap:operation soapAction="http://tempuri.org/IService1/PrintHTMLTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sort5Num">
      <soap:operation soapAction="http://tempuri.org/IService1/Sort5Num" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51443/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>